* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: auto;
}

.img-banner {
    position: relative;
    height: 600px;
}

.img-banner img {
    width: 100%;
    height: 600px;
    /* opacity: 150%; */
    filter: brightness(70%);
    object-fit: cover;
    object-position: 50% 0%;
}

.img-info {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-info p {
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 5px;
}

.img-info span {
    font-size: 17px;
}

.bg-grey {
    background: #f7f7f7;
}

/* Navbar */
#nav-bar>.container {
    width: auto;
    margin: auto;
    display: block;

    /* padding: 30px 50px; */
}

#nav-bar {
    text-align: center;
}

#nav-bar .container {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 190px) 300px repeat(2, 190px);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-item1 {
    grid-area: 1/3/2/4;
    /* width: 100%;
    border: 1px solid #f7f7f7;
    padding: 9px;
    color: #656565; */
}

.banner-item1 img {
    width: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: 1px solid #f7f7f7;
}

.banner-item2,
.banner-item3,
.banner-item4,
.banner-item5 {
    width: 100%;
    border-left: 1px solid #ebebeb;
    padding: 27px;
    color: #656565;
}

#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

#nav-bar p {
    font-size: 30px;
}

#nav-bar span {
    font-size: 15px;
    color: #6b6b6b;
    margin-right: 8px;
}

/* #banner h1 {
    font-size: 30px;
} */

/* target, personal-info */
/* #about>.container {
    display: flex;
    flex-grow: 1;
} */

#target {
    /* width: 50%; */
    padding: 100px 40px 50px 40px;
}

/* #about>.container h1 {
    margin-bottom: 40px;
    font-size: 30px;
    color: #595959;
    font-weight: normal;
} */

#target h1,
#personal-info h1 {
    font-size: 30px;
}

#target p {
    font-size: 14px;
    line-height: 1.5;
    color: #898989;
}

#personal-info {
    /* width: 50%; */
    padding: 100px 40px 50px 40px;
    background-color: #e9e9e9;
}

#personal-info ul {
    list-style: none;
    margin: 0;
}

#personal-info li {
    line-height: 1.7;
    color: #848484;
}

#personal-info li strong {
    color: #565656ee;
}

.list-icon {
    display: flex;
    margin-top: 30px;
}

.list-icon i {
    color: #3997e5;
    margin-left: 10px;
}

/* experience, education, activity, ... */
#job-info {
    padding: 50px 150px;
}

#job-info h1 {
    font-size: 30px;
}

/* .experience ul,
.education ul,
.activity ul {
    margin-left: 30px;
} */

#job-info .container {
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 750px 500px;
    gap: 25px;
    justify-content: center;
    margin: 50px 0;
}

#job-info .container h3 {
    color: #2c2c2c;
    font-weight: normal;
}

.experience,
.education,
.activity,
.hobby,
.language,
.skill {
    border: 1px solid #e9e9e9;
    padding: 50px 30px;
    color: #949494;
}

.language,
.skill {
    color: #565656ee;
}

.experience ul,
.education ul,
.activity ul {
    line-height: 1.5;
    margin-bottom: 40px;
    margin-top: 30px;
}

.experience li,
.education li,
.activity li {
    margin-bottom: 40px;
    font-size: 15px;
}

.experience li h3,
.education li h3,
.activity li h3 {
    font-size: 15px;
    color: #6b6b6b;
}

.experience li::marker,
.education li::marker,
.activity li::marker {
    font-size: 28px;
    color: #1f8ae1;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 30px 10px;
    width: 100%;
}

.title-flex h1 {
    font-weight: normal;
    color: #515151;
}

.title-flex i {
    font-size: 35px;
    color: #cbcbcb;
}

.list-hobby {
    display: flex;
    padding: 10px;
}

.list-hobby div {
    margin-right: 15px;
}

.list-hobby>div {
    text-align: center;
}

.list-hobby p {
    font-size: 15px;
    width: auto;
}

.list-hobby i {
    font-size: 13px;
    border: 1px solid #1f8ae1;
    border-radius: 500%;
    padding: 13px;
    color: #1f8ae1;
    margin-bottom: 10px;
}

.language-lines-flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.language-lines-flex div {
    background-color: #3997e5;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.skill-lines-flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill-lines-flex div {
    background-color: #3997e5;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.english .item3,
.javascript .item3,
.nodejs .item3 {
    background-color: #dcdcdc;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.japanese .item2,
.japanese .item3,
.html-css .item2,
.html-css .item3,
.bootstrap .item2,
.bootstrap .item3 {
    background-color: #dcdcdc;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.button {
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #d1d68d;
    border: none;
}

/* CERTIFICATE - PRIZE */
#certificate {
    padding: 0 150px;
}

/* #certificate>.container {
    padding-top: 70px;
    padding-bottom: 70px;
    color: #8e8e8e;
} */

#certificate h1 {
    /* padding-left: 330px; */
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 30px;
    color: #464646;
    font-weight: normal;
}

#certificate h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #464646;
}

#certificate p {
    font-size: 12px;
    line-height: 1.5;
    color: #8e8e8e;
}

/* .certificate-prize {
    display: grid;
    grid-template-columns: 645px 645px;
    column-gap: 50px;
    row-gap: 100px;
    justify-content: center;
    position: relative;
} */

/* .certificate-prize::before {
    content: '';
    background-color: #d6c08d;
    height: 1px;
    width: 67%;
    position: absolute;
    top: 50%;
    left: 330px;
    bottom: 0;
} */

/* .certificate-prize>div {
    display: flex;
} */

/* .certificate-prize>div:nth-child(2)::before {
    content: '';
    background-color: #d6c08d;
    height: 100%;
    width: 1px;
    position: absolute;
    left: -20px;
} */

/* .certificate-prize>div:nth-child(2) {
    margin-left: 20px;
    position: relative;
} */

.img-certificate {
    width: 200px;
    height: auto;
}

.certificate-info {
    /* margin-left: 30px; */
    margin-top: 5px;
}

#certificate .item1 {
    border-bottom: 1px solid #d6c08d;
}

#certificate .item2 {
    border-bottom: 1px solid #d6c08d;
}

#certificate .item2>div {
    border-left: 1px solid #d6c08d;
}

/* PROJECT */
#project {
    padding: 30px 150px;
}

#project>.container {
    margin-top: 100px;
    margin-bottom: 50px;
}

#project>.container h1 {
    padding-left: 330px;
    margin-bottom: 40px;
    font-size: 35px;
    color: #464646;
    font-weight: normal;
}

.project-grid li {
    list-style: none;
}

.project-grid {
    display: grid;
    grid-template-columns: 425px 425px 425px;
    column-gap: 30px;
    justify-content: center;
    color: #797979;
}

.project-grid img {
    width: 100%;
}

.project-title,
.name {
    /* display: block; */
    width: 100%;
    border: 1px solid #e8e8e8;
    display: flex;
    /* align-items: center; */
}

.projectName {
    font-size: 14px;
}

.project-grid h3 {
    padding: 20px 15px;
}

.project-year {
    border: 1px solid #3997e5;
    border-radius: 30%;
    padding: 6px;
    height: auto;
    width: auto;
    background-color: #3997e5;
    color: #fff;
    margin: 10px 10px;
    font-size: 11px;
    text-align: center;
}

.project-name,
.project-position {
    margin: 0 5px;
    font-size: 13px;
}

.project-info-cv,
.project-info-qltc,
.project-info-news {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    background-color: #e8e8e8;
    row-gap: 1px;
    /* padding: 10px; */
    /* border: 1px solid #e8e8e8; */
    position: relative;
    height: auto;
}

.project-info-cv>div,
.project-info-qltc>div,
.project-info-news>div {
    background-color: #fff;
    padding: 10px;
    font-size: 13px;
}

/* .project-info-cv>div::before,
.project-info-news>div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    top: 80px;
    left: 0;
} */

/* .project-info-cv>div::after,
.project-info-news>div::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    top: 130px;
    left: 0;
} */

/* .project-info-qltc>div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    top: 100px;
    left: 0;
}

.project-info-qltc>div::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    top: 150px;
    left: 0;
} */

/* FOOTER */
#footer .container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #797979;
}

#footer .container>div {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

#footer i {
    color: #3997e5;
    /* font-size: 36px; */
    font-size: 150%;
}

.hidden {
    display: none;
}

.text-red {
    color: red;
}